<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ISC.iNet.DS.iNet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ISC.iNet.DS.iNet.Properties.Settings>
            <setting name="ISC_iNet_DS_iNet_InetConfiguration_ConfigurationService"
                serializeAs="String">
                <value>http://inetuploaddev01.indsci.com:80/UploadWeb/secureServices/Configuration</value>
            </setting>
            <setting name="ISC_iNet_DS_iNet_InetUpload_UploaderService" serializeAs="String">
                <value>http://inetuploaddev01.indsci.com:80/UploadWeb/secureServices/Uploader</value>
            </setting>
        </ISC.iNet.DS.iNet.Properties.Settings>
    </applicationSettings>
</configuration>